@import './base.css';

/*montando a base do CSS de todas as páginas (tudo o que tem em comum)*/

input{
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #1a1a1a;
}

button{
  cursor: pointer;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}