@import './base.css';

/*montando a base do CSS de todas as páginas (tudo o que tem em comum)*/

/*input = caixa de inserção de informações*/
input{
  background-color: white;   /*cor de fundo*/
  border-radius: 5px;          /*raio da borda da caixa*/
  border: 1px solid #ccc;    /*tamanho, tipo e cor da borda*/
  color: #1a1a1a;            /*cor do texto que será inserido*/
}

/*button = botão de confirmação de algo*/
button{
  cursor: pointer;       /*cursor que aparece ao passar o mouse*/
  color: white;        /*cor do texto*/
  font-weight: bold;     /*txt em negrito*/
  border-radius: 10px;   /*raio da borda*/
  border: none;          /*sem borda definida*/
}